<ion-header>
  <ion-toolbar color = "dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Live Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color= "dark">
    <ion-list color="dark">
        <ion-item *ngFor="let item of chats" no-lines color="dark">
          <!-- <span class="chat-content-center">{{item.message}}</span> -->
     
 
            <div *ngIf="item.user === user">
              <div color="primary">
                <span color="primary">Me</span>
                <p text-wrap>{{item.message}}</p>
              </div>
            </div>
            <div *ngIf="item.user !== user">
              <div color="tertiary">
                <span class="msg-name">{{item.user}}</span>
               
                <p text-wrap>{{item.message}}</p>
              </div>
            </div>
        </ion-item>
      </ion-list>
    
</ion-content>
<ion-footer>

<ion-toolbar>
        <form [formGroup]="new_chat">
      
        <ion-input type="text" placeholder="Type a message" clearInput formControlName="message"></ion-input>
      
      
        <ion-button align="right" id="send" (click)= "sendMessage(new_chat.value)" color="tertiary">
            <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
        
      
    </form>
  </ion-toolbar>

</ion-footer>
