<ion-header>
  <ion-toolbar color = "dark">
    <ion-buttons slot="start">
      <ion-menu-button color = "tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "dark">
    <ion-list>
        <ion-item color = "dark" *ngFor="let item of characters" (click)="goToItem(item)">
          <ion-thumbnail slot="start">
            <ion-img [src]="item.img"></ion-img>
          </ion-thumbnail>
          <ion-label>
            {{ item.name }}
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
