<ion-header>
  <ion-toolbar color = "dark">
    <ion-buttons slot="start">
      <ion-menu-button color = "tertiary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pick a Game
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addGame()" *ngIf="owner"><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color = "dark">
  <ion-list>
    <ion-item color = "dark" *ngFor="let item of games" (click)="goToItem(item)">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.img"></ion-img>
      </ion-thumbnail>
      <ion-label>
        {{ item.title }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
